.chatBubble {
	max-width: clamp(200px, 80%, 400px);
	background-color: #f87171;
	border-radius: 10px;
	border-bottom-right-radius: 2px;
	margin: 20px;
	padding: 10px;
	align-self: flex-end;
	transition: margin-top 0.2s ease;
}

.emojiBubble {
	max-width: clamp(200px, 80%, 400px);
	margin: 20px;
	font-size: 2rem;
	align-self: flex-end;
	animation: bounce 1.2s ease-out;
}

.chatBubbleOther {
	max-width: clamp(200px, 80%, 400px);
	background-color: #d1d1d1;
	border-radius: 10px;
	border-bottom-left-radius: 2px;
	margin: 20px;
	padding: 10px;
	align-self: flex-start;
	transition: margin-top 0.2s ease;
}

.emojiBubbleOther {
	max-width: clamp(200px, 80%, 400px);
	margin: 20px;
	font-size: 2rem;
	align-self: flex-start;
	animation: bounce 1.2s ease-out;
}

@keyframes bounce {
	0% {
		transform: translateY(0) scale(1);
	}
	15% {
		transform: translateY(-20px) scale(1.1);
	}
	30% {
		transform: translateY(0) scale(1);
	}
	45% {
		transform: translateY(-10px) scale(1.05);
	}
	60% {
		transform: translateY(0) scale(1);
	}
	75% {
		transform: translateY(-5px) scale(1.02);
	}
	90% {
		transform: translateY(0) scale(1);
	}
	100% {
		transform: translateY(0) scale(1);
	}
}
