.chatBubble {
	max-width: clamp(200px, 80%, 400px);
	background-color: #f87171;
	border-radius: 10px;
	border-bottom-right-radius: 2px;
	margin: 20px;
	padding: 10px;
	align-self: flex-end;
	transition: margin-top 0.2s ease;
}

.emojiBubble {
	max-width: clamp(200px, 80%, 400px);
	margin: 20px;
	font-size: 2rem;
	align-self: flex-end;
}

.chatBubbleOther {
	max-width: clamp(200px, 80%, 400px);
	background-color: #d1d1d1;
	border-radius: 10px;
	border-bottom-left-radius: 2px;
	margin: 20px;
	padding: 10px;
	align-self: flex-start;
	transition: margin-top 0.2s ease;
}

.emojiBubbleOther {
	max-width: clamp(200px, 80%, 400px);
	margin: 20px;
	font-size: 2rem;
	align-self: flex-start;
}
