/* Reset styles */
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	height: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: black;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: fixed;
	width: 100%;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (prefers-color-scheme: light) {
	body {
		color: #213547;
		background-color: #ffffff;
	}
}
